<amp-sidebar id="sidebar" class="cid-qUMM6ENTZL" layout="nodisplay" side="right">
        <div class="builder-sidebar" id="builder-sidebar">
            <button on="tap:sidebar.close" class="close-sidebar">
                <span></span>
                <span></span>
            </button>

            <div class="sidebar mbr-white" data-app-modern-menu="true"><a class="text-primary display-1" href="https://mobirise.com"><span class="fa fa-home mbr-iconfont mbr-iconfont-btn"></span>&nbsp;Home</a>
              <a class="text-primary display-1" href="https://mobirise.com"><span class="fa fa-street-view mbr-iconfont mbr-iconfont-btn"></span>&nbsp;About Us</a>
              <a class="text-primary display-1" href="https://mobirise.com"><span class="fa fa-gears mbr-iconfont mbr-iconfont-btn"></span>&nbsp;Services</a></div>
            
            <div class="navbar-buttons mbr-section-btn align-center">
              <a class="btn btn-sm btn-primary display-4" href="https://mobirise.com">Contact Us</a>
            </div>
        </div>
    </amp-sidebar>
