  <section class="menu cid-qUMM6ENTZL" id="menu1-2">
    
    <nav class="headerbar sticky-nav">
      <div class="brand">
          <span class="brand-logo">
              <amp-img src="assets/images/apple-touch-icon.png-57x57.png" layout="responsive" width="24" height="24" alt="Mobirise">
                  <a href="https://chipprogrammers.github.io"></a>
              </amp-img>
          </span>
          <p class="brand-name mbr-fonts-style display-2">Mobirise AMP</p>
      </div>
    </nav>
    
    <button on="tap:sidebar.toggle" class="ampstart-btn hamburger sticky-but">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
    </button>
</section>
